# Importamos librerias requeridas

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from datetime import datetime

# Creamos un dataframe con lo requerido en los endpoints de la API

In [2]:
file_csv = '../Dataset_def/data_movies_full.csv'
csv = pd.read_csv(file_csv, index_col=0)

In [3]:
csv

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,id_coleccion,nombre_coleccion,id_companie,companie,iso_3166_1,country,iso_639_1,languaje,name_actor,name_director
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America,en,English,Tom Hanks,John Lasseter
1,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America,en,English,Tim Allen,John Lasseter
2,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America,en,English,Don Rickles,John Lasseter
3,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America,en,English,Jim Varney,John Lasseter
4,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,10194.0,Toy Story Collection,3.0,Pixar Animation Studios,US,United States of America,en,English,Wallace Shawn,John Lasseter
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10521399,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,NaN,...,NaN,NaN,88753.0,Yermoliev,RU,Russia,NaN,NaN,Nathalie Lissenko,Yakov Protazanov
10521400,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,NaN,...,NaN,NaN,88753.0,Yermoliev,RU,Russia,NaN,NaN,Pavel Pavlov,Yakov Protazanov
10521401,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,NaN,...,NaN,NaN,88753.0,Yermoliev,RU,Russia,NaN,NaN,Aleksandr Chabrov,Yakov Protazanov
10521402,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,NaN,...,NaN,NaN,88753.0,Yermoliev,RU,Russia,NaN,NaN,Vera Orlova,Yakov Protazanov
10521403,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Released,NaN,...,NaN,NaN,NaN,NaN,GB,United Kingdom,en,English,NaN,Daisy Asquith

In [5]:
csv.columns.values

array(['budget', 'id', 'original_language', 'overview', 'popularity',
       'release_date', 'revenue', 'runtime', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'return', 'release_year',
       'id_genero', 'genero', 'id_coleccion', 'nombre_coleccion',
       'id_companie', 'companie', 'iso_3166_1', 'country', 'iso_639_1',
       'languaje', 'name_actor', 'name_director'], dtype=object)

Creamos un nuevo dataframe solo con la informacion requerida para las respuesta de la API

In [6]:
data = csv[['id', 'title', 'release_date', 'release_year', 'popularity', 'vote_average', 'vote_count',
                'name_actor', 'name_director', 'return']]

In [7]:
# Eliminamos los duplicados de dataframe
data.drop_duplicates(inplace=True)
data.reset_index(inplace=True)
data.drop(columns='index', inplace=True)
data

,id,title,release_date,release_year,popularity,vote_average,vote_count,name_actor,name_director,return
0,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Tom Hanks,John Lasseter,12.451801
1,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Tim Allen,John Lasseter,12.451801
2,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Don Rickles,John Lasseter,12.451801
3,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Jim Varney,John Lasseter,12.451801
4,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Wallace Shawn,John Lasseter,12.451801
...,...,...,...,...,...,...,...,...,...,...
615540,227506,Satan Triumphant,1917-10-21,1917,0.003503,0.0,0.0,Nathalie Lissenko,Yakov Protazanov,0.000000
615541,227506,Satan Triumphant,1917-10-21,1917,0.003503,0.0,0.0,Pavel Pavlov,Yakov Protazanov,0.000000
615542,227506,Satan Triumphant,1917-10-21,1917,0.003503,0.0,0.0,Aleksandr Chabrov,Yakov Protazanov,0.000000
615543,227506,Satan Triumphant,1917-10-21,1917,0.003503,0.0,0.0,Vera Orlova,Yakov Protazanov,0.000000
615544,461257,Queerama,2017-06-09,2017,0.163015,0.0,0.0,NaN,Daisy Asquith,0.000000

# Creamos el campo de mes y dia en español

Ponemos el campo release_date como tipo date

In [8]:
# convertimos la columna a tipo fecha
data.release_date = pd.to_datetime(data.release_date)

In [9]:
data['release_month'] = data.release_date.apply(lambda fecha:fecha.strftime("%B"))
data.head()

,id,title,release_date,release_year,popularity,vote_average,vote_count,name_actor,name_director,return,release_month
0,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Tom Hanks,John Lasseter,12.451801,October
1,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Tim Allen,John Lasseter,12.451801,October
2,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Don Rickles,John Lasseter,12.451801,October
3,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Jim Varney,John Lasseter,12.451801,October
4,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Wallace Shawn,John Lasseter,12.451801,October

In [10]:
# reemplazamos los nombres de los meses en ingles a español
meses = {
    'January': 'enero',
    'February': 'febrero',
    'March': 'marzo',
    'April': 'abril',
    'May': 'mayo',
    'June': 'junio',
    'July': 'julio',
    'August': 'agosto',
    'September': 'septiembre',
    'October': 'octubre',
    'November': 'noviembre',
    'December': 'diciembre'
}

data.release_month.replace(meses, inplace=True)
data.head()

,id,title,release_date,release_year,popularity,vote_average,vote_count,name_actor,name_director,return,release_month
0,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Tom Hanks,John Lasseter,12.451801,octubre
1,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Tim Allen,John Lasseter,12.451801,octubre
2,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Don Rickles,John Lasseter,12.451801,octubre
3,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Jim Varney,John Lasseter,12.451801,octubre
4,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Wallace Shawn,John Lasseter,12.451801,octubre

In [11]:
data['release_day'] = data.release_date.apply(lambda fecha:fecha.strftime("%A"))
data.head()

,id,title,release_date,release_year,popularity,vote_average,vote_count,name_actor,name_director,return,release_month,release_day
0,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Tom Hanks,John Lasseter,12.451801,octubre,Monday
1,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Tim Allen,John Lasseter,12.451801,octubre,Monday
2,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Don Rickles,John Lasseter,12.451801,octubre,Monday
3,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Jim Varney,John Lasseter,12.451801,octubre,Monday
4,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Wallace Shawn,John Lasseter,12.451801,octubre,Monday

In [12]:
dias_semana = {
    'Monday': 'lunes',
    'Tuesday': 'martes',
    'Wednesday': 'miércoles',
    'Thursday': 'jueves',
    'Friday': 'viernes',
    'Saturday': 'sábado',
    'Sunday': 'domingo'
}

data.release_day.replace(dias_semana, inplace=True)
data.head()

,id,title,release_date,release_year,popularity,vote_average,vote_count,name_actor,name_director,return,release_month,release_day
0,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Tom Hanks,John Lasseter,12.451801,octubre,lunes
1,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Tim Allen,John Lasseter,12.451801,octubre,lunes
2,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Don Rickles,John Lasseter,12.451801,octubre,lunes
3,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Jim Varney,John Lasseter,12.451801,octubre,lunes
4,862,Toy Story,1995-10-30,1995,21.946943,7.7,5415.0,Wallace Shawn,John Lasseter,12.451801,octubre,lunes

# Reorganizamos el orden de las columnas del dataframe

In [13]:
data = data[['id', 'title', 'release_year', 'release_month', 'release_day',
            'popularity', 'vote_average', 'vote_count', 'name_actor', 'name_director', 'return']]
data

,id,title,release_year,release_month,release_day,popularity,vote_average,vote_count,name_actor,name_director,return
0,862,Toy Story,1995,octubre,lunes,21.946943,7.7,5415.0,Tom Hanks,John Lasseter,12.451801
1,862,Toy Story,1995,octubre,lunes,21.946943,7.7,5415.0,Tim Allen,John Lasseter,12.451801
2,862,Toy Story,1995,octubre,lunes,21.946943,7.7,5415.0,Don Rickles,John Lasseter,12.451801
3,862,Toy Story,1995,octubre,lunes,21.946943,7.7,5415.0,Jim Varney,John Lasseter,12.451801
4,862,Toy Story,1995,octubre,lunes,21.946943,7.7,5415.0,Wallace Shawn,John Lasseter,12.451801
...,...,...,...,...,...,...,...,...,...,...,...
615540,227506,Satan Triumphant,1917,octubre,domingo,0.003503,0.0,0.0,Nathalie Lissenko,Yakov Protazanov,0.000000
615541,227506,Satan Triumphant,1917,octubre,domingo,0.003503,0.0,0.0,Pavel Pavlov,Yakov Protazanov,0.000000
615542,227506,Satan Triumphant,1917,octubre,domingo,0.003503,0.0,0.0,Aleksandr Chabrov,Yakov Protazanov,0.000000
615543,227506,Satan Triumphant,1917,octubre,domingo,0.003503,0.0,0.0,Vera Orlova,Yakov Protazanov,0.000000
615544,461257,Queerama,2017,junio,viernes,0.163015,0.0,0.0,NaN,Daisy Asquith,0.000000

In [14]:
data.to_csv('data_API.csv')